.card {
    border: 1px solid hsl(160, 156, 156);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(from rgb(184, 182, 182) h s l);
    padding: 30px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .card-image {
    max-width: 100%;
    height: auto;
    border-radius: 150px;
    margin-bottom: 10px;
}

.card .card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: grey
}

.card .card-text {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0, 30%)
}